.container {
  text-align: center;
  margin-top: 10%;
  padding: 20px;
  border-radius: 20px;
}


.todos-text {
  margin-left: 200px;
}

.todos-description {
  margin-left: 210px;
  text-align: left;
  font-size: 1.2em;
  color: #3498db;
}

.todos-description span {
  margin-left: 10px;
}

.delete {
  color: #c0392b;
}
